<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag generate_path, method: :post, class: "form" do %>
      <% 5.times do %>
        <div class="form-inline">
          <div class="form-group">
            <%= text_field_tag 'names[]', nil ,class: 'form-control', placeholder: 'Name' %>
          </div>
          <div class="form-group">
            <%= text_field_tag 'emails[]', nil ,class: 'form-control', placeholder: 'E-mail' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>