<header class="header">
  <div class="image-container left">
    <%= image_tag 'attribute1', class: 'image' %>
  </div>
  <div class="image-container right">
    <%= image_tag 'attribute1', class: 'image' %>
  </div>
</header>